						
						{% extends 'based/based.html' %}
                        {% block content %}
                        {% load static %}
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
							<div id="kt_content_container" class="container-xxl">
                                       
										<!--begin::Row-->
                                        <div class="row g-5 g-lg-10">
                                        <div class="col-xl-12">
                                            <h1 class="anchor fw-bolder mb-5 text-gray-600">HI {{profile.displayName}}</h1>
                                        </div>
                                          
                                            <!--begin::Col-->
                                            <div class="col-xl-4 mb-xl-10">
                                                <!--begin::Engage widget 3-->
                                                <div class="card bgi-no-repeat h-xl-100 mb-5 mb-lg-10" style="background-color: #1B283F; background-position: 0 calc(100% + 0.5rem); background-size: 100% auto; background-image:url('{% static 'assets/media/svg/general/rhone.svg'%}')">
                                                    <!--begin::Body-->
                                                    <div class="card-body">
                                                        <h3 class="text-white fw-bolder my-7">Travel Request</h3>
                                                        
                                                        <a href="{% url 'tvrdashboard' %}" class="btn btn-danger gw-bold px-6 py-3">My Travel</a>
                                                    </div>
                                                    <!--end::Body-->
                                                </div>
                                                <!--end::Engage widget 3-->
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Row-->
								<!--end::Modals-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Post-->
                        {% endblock content %}